<details id="bill-description-container" class="partial-section">
  <summary id="bill-description-title">
    <img src="./circle-question.svg" />
    <div>Sobre a PEC</div>
  </summary>
  <div class="flex-align">
    <p class="bill-description">
      Após decisão do STF contra o sistema de cotas que garante 80% das vagas da
      Universidade do Estado do Amazonas (UEA) a estudantes amazonenses, o
      deputado federal Amom Mandel (Cidadania-AM) protocolou uma PEC para tentar
      reverter a decisão do STF.
    </p>
    <p class="bill-description">
      A PEC propõe uma mudança ao art. 206 da Constituição para permitir que a
      União, os Estados, o Distrito Federal e os Municípios poderão estabelecer
      a reserva de vagas de acesso às suas instituições públicas de ensino
      superior a estudantes oriundos das suas redes públicas de ensino.
    </p>
    <p class="bill-description">
      Além disso, estudantes dos estados que tiverem o Índice de Desenvolvimento
      Humano (IDH) igual ou menor do que o Amazonas também entrariam no
      percentual de reserva de vagas.
    </p>
  </div>
</details>
