<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Block favicon requests -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  <!-- Import CSS code -->
  <link rel="stylesheet" href="./shared.css" />
  <link rel="stylesheet" href="./leaderboard.css" />
  <link rel="stylesheet" href="./header.css" />
  <link rel="stylesheet" href="./footer.css" />
  <!-- Import Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@500&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
    rel="stylesheet"
  />
</head>
