<div id="leaderboard-container">
  <div id="leaderboard-score" class="section-background">
    <div class="flex-align">
      <div class="leaderboard-score-card">
        <p id="leaderboard-left-number" class="leaderboard-score-card-number">
          246
        </p>
        <div class="leaderboard-score-card-description">
          <p>VOTAM PELA</p>
          <p>LIBERDADE</p>
          <p>Vota <span class="bold-span">não</span> no PL2630</p>
        </div>
      </div>
    </div>
    <div id="leaderboard-score-cross">
      <img src="./cross-icon.svg" />
    </div>
    <div class="flex-align">
      <div class="leaderboard-score-card">
        <p
          id="leaderboard-right-number"
          class="leaderboard-score-card-number leaderboard-score-card-number-variant"
        >
          246
        </p>
        <div
          class="leaderboard-score-card-description leaderboard-score-card-description-variant"
        >
          <p>VOTAM PELA</p>
          <p>CENSURA</p>
          <p>Vota <span class="bold-span">não</span> no PL2630</p>
        </div>
      </div>
    </div>
  </div>
</div>
