#bill-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#bill-title > :first-child {
  height: 1rem;
  padding-bottom: 1px;
}

.bill-description {
  text-indent: 30px;
  text-align: justify;
  margin-top: 1rem;
  hyphens: auto;
  padding: 1rem;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  max-width: 75vw;
}
