:root {
  --gray: hsl(0, 0%, 5%);
  --light-gray: hsl(0, 0%, 10%);
  --green: hsl(110, 90%, 30%);
  --light-green: hsl(110, 90%, 40%);
  --red: hsl(0, 70%, 50%);
  --light-red: hsl(0, 70%, 60%);
  --section-padding: 1rem;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

h1,
p {
  margin: 0;
}

.bold-span {
  text-decoration: underline;
}

.flex-align {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  background-color: black;
  color: white;
  display: grid;
  text-align: center;
  justify-content: center;
  row-gap: rem;
}

body > * {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
