:root {
  --gray: hsl(0, 0%, 5%);
  --light-gray: hsl(0, 0%, 10%);
  --lighter-gray: hsl(0, 0%, 15%);
  --green: hsl(110, 90%, 30%);
  --light-green: hsl(110, 90%, 40%);
  --red: hsl(0, 70%, 50%);
  --light-red: hsl(0, 70%, 60%);
  --section-margin: 0.75rem;
  --section-y-padding: 1.5rem;
  --section-x-padding: 1.5rem;
}

h1,
p {
  margin: 0;
}

.bold-span {
  text-decoration: underline;
}

.flex-align {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  row-gap: rem;
  hyphens: auto;
}

body > * {
  margin: var(--section-margin);
  padding: var(--section-x-padding) var(--section-y-padding)
    var(--section-x-padding) var(--section-y-padding);
  background-color: var(--lighter-gray);
  border-radius: 0.5rem;
}
